.footer{

    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 50px;
    background-color: #000;
}
.leftdiv{

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    align-content: space-between;

}
.rightdiv{

    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

}
@media (max-width: 1200px){

.footer{

    width: 980px;
    
}

}
@media (max-width: 980px){

.footer{

    width: 768px;
    
} 

}
@media (max-width: 768px){

.footer{

    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: end;    
}
.leftdiv{

    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    font-size: 14px;

}
.rightdiv{

    width: 100%;
    height: 20%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

}
@media (max-width: 420px){

.footer{

    width: 380px;
    
}

}