.logo{

    width: auto;
    width: 150px;

}
@media (max-width: 980px){

.logo{

    width: auto;
    width: 125px;

}    

}
@media (max-width: 768px){

.logo{

    width: auto;
    width: 100px;

}    

}