.links{

    display: flex;
    justify-content: center;
    align-items: center;

}
ul{

    width: 200px;

}
li{

    margin: 5px;

}
@media (max-width: 480px){

.links{

    display: flex;
    flex-direction: column;

}

}