.container_bg{

    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("../../../../../public/images/main/main-bg.png");
    background-size: cover;
    background-position: 25% 0%; 
    background-repeat: no-repeat;
    z-index: 0;

}
.container{

    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 700px;
    margin: 0 auto;

}
.hero_left {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: flex-end; 
    z-index: 1;
    width: 40%;            
    height: 100%;
}

.hero_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    z-index: 1;
    width: 50%;
    height: 100%;
}

.tape_text {
    position: relative;
    height: 250px; 
    width: 900px;
    right: 200px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    font-size: 64px;
    width: 800px;
    color: #fff; 
    transform: translate(-33%, -50%);
    top: 50%;  
    left: 50%;
    z-index: 2; 
}

.tape {
    position: absolute;
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

.button_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
@media (max-width: 1200px){

.container{

    width: 100%;
    justify-content: space-between;

}
.hero_left{

    width: 50%;

}
.hero_right{

    width: 40%;

}
.tape_text {
    height: 200px; 
    width: 700px;
}
.text{

    font-size: 52px;

}
}
@media (max-width: 980px){

.container{

    width: 100%;
    justify-content: space-between;

}
.hero_left{

    width: 60%;

}
.hero_right{

    width: 40%;

}
.tape_text {
    height: 200px; 
    width: 700px;
}
.text{

    font-size: 52px;

}
}
@media (max-width: 768px){

.container{

    width: 100%;
    justify-content: space-between;

}
.button_icons{

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

}
.hero_left{

    width: 50%;

}

}


