.container_bg{

    height: 700px;
    width: 100%;
    background-image: url("../../../../../public/images/shop/bg2.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{

    width: 1200px;
    height: 600px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.header{

    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header > h1{

    font-size: 36px;

}
.header > img{

  cursor: pointer;

}
.cards{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.card {
  flex: 1;
  transition: transform 0.5s ease-in-out;
}

.animating.right .card {
  &:nth-child(1) {
    animation: moveRight 0.5s forwards;
  }
  &:nth-child(2) {
    animation: moveRight 0.5s forwards;
  }
  &:nth-child(3) {
    animation: moveRightLast 0.5s forwards;
  }
}

.animating.left .card {
  &:nth-child(1) {
    animation: moveLeftLast 0.5s forwards;
  }
  &:nth-child(2) {
    animation: moveLeft 0.5s forwards;
  }
  &:nth-child(3) {
    animation: moveLeft 0.5s forwards;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes moveRightLast {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveLeftLast {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(200%);
  }
}