.card{

    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.card > p{

    font-size: 18px;
    margin-top: 25px;

}