.card_sizes_list_black > p{

    margin-bottom: 5px;
    color: #000;
    font-size: 18px;

}
.card_sizes_list_black > ul{

    width: 100%;
    height: auto;
    display: flex;
    color: #000;

}
.card_sizes_list_black > ul > li{

    margin-right: 30px;

}
.card_sizes_list_white > p{

    margin-bottom: 5px;
    color: #fff;
    font-size: 18px;

}
.card_sizes_list_white > ul{

    width: 100%;
    height: auto;
    display: flex;
    color: #fff;

}
.card_sizes_list_white > ul > li{

    margin-right: 30px;

}