.card_price_black{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: #000;
    margin-top: 10px;

}
.card_price_white{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 10px;

}